# Configuration du serveur
PORT=3000

# Configuration MongoDB
# Pour MongoDB local :
MONGO_URI=mongodb://localhost:27017/tp_auth

JWT_SECRET=AIzaSyCc-9jsZWToh6BzDx7nbwMubisdV_v2pBU

CORS_ORIGINS=http://localhost:5173,http://localhost:3000
